* {
    margin: 0%;
}
.zhuti {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#5e57e2af,#6ae090b1);
}
.copy {
    width: 100%;
    height: 100px;
    background-color: #bef2fad0;
    /* display: flex; */

}
.copy .wenben {
    height: 70px;
    width: 100%;
}
.copy .image {
    width: 100%;
    height: 30px;
    text-align: center;

}
.copy-img {
    width: auto;
    height: 30px;
}
.button-home {
    /* background-color: #4CAF50; */
    background: linear-gradient(to right,#e860ed,rgb(109, 103, 228));
    border: none;
    /* width: 100px; */
    color: white;
    padding: 13px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /* margin: px 2px; */
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
    
}
.button-home:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.botton {
    /* display: flex; */
    position: absolute;
    top: 70vh;
    left: calc(50% - 150px);
    text-align: center;
}